includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
    
    # Custom rules
    reportUnmatchedIgnoredErrors: false
    
    # Exclude patterns
    excludePaths:
        - tests/Pest.php
    
    # Ignore specific rules for config files
    ignoreErrors:
        - 
            message: '#Called .env. outside of the config directory#'
            path: src/Config/chronotrace.php
        -
            message: '#Parameter .* expects array<string, mixed>, array<mixed.*given#'
            paths:
                - src/Models/*
                - src/Services/*
        -
            message: '#Parameter .* expects array<string, string>, array<mixed.*given#'
            paths:
                - src/Models/*
        -
            message: '#Parameter .* expects array<string, mixed>\|null, array<mixed.*given#'
            paths:
                - src/Models/*
        -
            message: '#Cannot cast mixed to (int|float|string)#'
            paths:
                - src/Models/*
        -
            message: '#Parameter .* expects array<string, mixed>, mixed given#'
            paths:
                - src/Services/*
                - src/Storage/*
        -
            message: '#Parameter .* expects array<string, mixed>, array.*given#'
            paths:
                - src/Services/*
                - src/Storage/*
        -
            message: '#Parameter \$user of class .* expects array<string, mixed>\|null, array\|null given#'
            path: src/Services/TraceRecorder.php
        -
            message: '#Parameter \$env_vars of class .* expects array<string, string>, array given#'
            path: src/Services/TraceRecorder.php
        -
            message: '#Cannot call method (isDir|getRealPath) on mixed#'
            path: src/Storage/TraceStorage.php
        -
            message: '#Property .* does not accept array<mixed>#'
            path: src/Services/PIIScrubber.php
        -
            message: '#Parameter \#1 \$pattern of function preg_replace expects .*, mixed given#'
            path: src/Services/PIIScrubber.php
        -
            message: '#Call to function is_string\(\) with string will always evaluate to true#'
            path: src/Services/PIIScrubber.php
        -
            message: '#Property .* is never read, only written#'
            path: src/Storage/TraceStorage.php
        -
            message: '#Parameter \#1 \$headers .* expects array<string, mixed>, array given#'
            paths:
                - src/Listeners/*
